a.o65
*.mon?
*.log
*.dmp
*.sym
*.err
*.lab
*.obj
*.tmp
.vs/
obj/
tmp/
doc/attic/
doc/tiddlypettil/
doc/sizes.txt
doc/tiddlypettil.html
Makefile*
snapshot.vsf
t.*
*.t
pettil.sublime-workspace
tapes/faces.tap
tapes/mmm.tap
