a.o65
*.mon?
*.dmp
*.sym
*.err
*.lab
*.obj
*.tmp
Makefile*
t.*
.vs/
node_modules/
doc/sizes.txt
doc/attic/
doc/tiddlypettil/
doc/tiddlypettil.html
perturb/*.log
perturb/*scrsh.png
tapes/faces.tap
tapes/mmm.tap
tmp/
obj/
